<h1> Home </h1> 
<div id='homeHeader'>
	<h2> LOGO </h2>
	Welcome Back {{username}}!!! <br>
	<a href='/home'><button type='button'>Home</button></a>
	<a href='/map'><button type='button'>Map</button></a>
	<a href='/about'><button type='button'>About</button></a>
	<a href='/contact'><button type='button'>Contact</button></a>
	<a href='/profile'><button type='button'>Edit Profile</button></a>
	<a href='/logout'><button type='button'>Logout</button></a>	
</div>

<div id='core'>
	<a href='/todaysMatches'><button type='button'>Matches</button></a>
	<a href='/connectedMatches'><button type='button'>Connected Matches</button></a>
	<a href='/critiques'><button type='button'>Critiques</button></a>
	<a href='/met'><button type='button'>Met in Public</button></a>
</div>
