<center>
<h1> PROFILE SUBMIT </h1>
</center>

{{#each users}}
	Username: {{this.username}} <br>
	<a href='{{this.slug}}'>Information</a> <br><br>
{{/each}}

<form method='POST' action=''>
	Username: <input type='text' name='username' value=''><br>
	Email: <input type='text' name='email' value=''><br>
	Title: <input type='text' name='title' value=''><br>
	<input type='radio' name='swipes' value='hasSwipes'>Yes, I have swipes<br>
	<input type='radio' name='swipes' value='hasSwipes'>No, I do not have swipes<br>
	<input type='submit' value='Make Profile'>	
</form>
