<h1> Matches For Today </h1> 

{{#each matches}}
    <h2> {{this.username}} </h2>
{{/each}}

<div id='reveal'>
    <form id='revealForm' method='POST' action=''>
        {{#each matches}}
            <input type='radio' class='revealRadio' name='revealRadio' value='{{this.username}}'>{{this.username}}
        {{/each}}
        <input id='revealSubmit' type='submit' value='Reveal'>
    </form>
</div>

<div id='revealPerson'>
    <p> Hi </p>
</div>
