<center>
<h1> Edit Your Profile Now! </h1>
<p> Put Some Dashing Information About Yourself To Wow The People! </p>
</center>

{{#each users}}
	Username: {{this.username}} <br>
	<a href='{{this.username}}'>Information</a> <br><br>
{{/each}}

<form method='POST' action=''>
	Email: <input type='email' name='email' value='' placeholder='email@service.com' required><br>
	Nickname: <input type='text' name='nickname' value='' placeholder='Swipe God'required><br>
	Tell Us About Yourself:<br><textarea rows='4' cols='50' name='bio' value='' required></textarea><br>
	<input type='radio' name='swipes' value='true'>Yes, I have swipes | 
	<input type='radio' name='swipes' value='false'>No, I do not have swipes<br>
	<input type='submit' value='Make Profile'> 
	<input type='reset' value='Reset'>	
</form>
