<div>
	
</div>

<div>
	<center>
	<form method='POST' action=''>
		<input type='file' onchange='previewFile()'><br>
		<img src='' height='400' width='400' alt='Image cannot be loaded'>
	</form>
	</center>
</div>
